@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700&display=swap");
/*font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
}

nav {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-family: "Heebo", sans-serif;
    color: #333;
    font-size: 36px;
    line-height: 53px;
    font-weight: 800;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.unhappy-text {
    color: #2d9cdb;

    width: 256px;
    height: 27px;
    left: 277px;
    top: 191px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.title-create {
    width: 543px;
    height: 144px;
    left: 277px;
    top: 234px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}
.hero img {
    width: 1332px;
    height: 354px;
    left: 52px;
    top: 420px;
    border-radius: 18px;
}

.hero h1 {
}

.hero p {
}
.email-contact {
    width: 350px;
    height: 57px;
    left: 277px;
    top: 1208px;
}
