@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700&display=swap");
/*font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: auto;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-right: 56px;
}

.nav a {
    color: #333;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 24px;
}

.logo {
    font-size: 36px;
    padding-left: 56px;
}

.unhappy-text {
    color: #2d9cdb;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.title-create {
    text-align: center;
    width: 543px;
    height: 144px;

    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}
.hero img {
    width: 1332px;
    height: 354px;

    border-radius: 18px;
}

.hero h1 {
}

.hero p {
}
.email-contact {
    width: 350px;
    height: 57px;
}
