@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@400;500;700&display=swap");
/*font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
    font-family: "Poppins", sans-serif;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-right: 56px;
}

.nav a {
    color: #333;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 24px;
}

.logo {
    font-size: 36px;
    padding-left: 56px;
}

.unhappy {
    color: #2d9cdb;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.title-create {
    color: #333;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: left;
    width: 75%;
}

.hero img {
    border-radius: 18px;
}

.text {
    text-align: left;
    width: 75%;
    color: #4f4f4f;
}

/* .email-contact {
    font-size: 14px;
    width: 350px;
    height: 57px;
}

.email {
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 350px;
    height: 20px;
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 12px;
    border: none;
}

.join {
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    position: absolute;
    cursor: pointer;
    width: 94px;
    height: 45px;
    left: 280px;
    top: 927px;
    background-color: #2d9bdbdd;
    border-radius: 12px;
    padding: 10px;
} */
